html {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-text);
  overflow: hidden;
}

::-webkit-scrollbar {
  margin-top: 10px;
  width: 5px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.7);
  border-radius: 1px;
  outline: 1px solid slategray;
}

body {
  margin: 0;
}

.native-btn {
  cursor: pointer;
}

.mdc-button--primary {
  color: var(--mdc-theme-text-on-primary) !important;
}
.mdc-button--accent {
  color: var(--mdc-theme-text-on-accent) !important;
}

header {
  padding: 0 5px;
  height: 24px;
  color: var(--mdc-theme-text-on-secondary);
  background-color: var(--mdc-theme-secondary);
  -webkit-app-region: drag;
}
header > div {
  display: inline-block;
  -webkit-app-region: no-drag;
}

footer {
  padding: 0 5px;
  height: 40px;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-text-on-primary);
  display: block;
  position: absolute;
  width: calc(100% - 10px);
  bottom: 0;
}
footer > div {
  vertical-align: middle;
  display: inline-block;
}
footer .native-btn {
  font-size: 36px;
}

.mdc-temporary-drawer__header {
  min-height: 10%;
}

aside a:not(.mdc-temporary-drawer--selected) {
  cursor: pointer;
}

main {
  max-height: calc(100vh - 74px);
  width: 100vw;
  overflow-y: auto;
}

.box {
  background-color: var(--mdc-theme-elevated-background);
  width: 90%;
  margin: 10px auto;
  padding: 5px 10px;
}

hr {
  border-color: var(--mdc-theme-primary);
}
.mdc-textfield:not(.kas), .mdc-textfield__input:not(.kas) {
  width: 100%;
}
.mdc-typography--subheading1:not(.kas) {
  margin-bottom: 0;
}

.fina-ul {
  background-color: #616161; /* Gray 700 */
  min-height: 34px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}
