:root {
  --mdc-theme-primary: #9C27B0; /* Purple 500 */
  --mdc-theme-secondary: #7B1FA2; /* Purple 700 */
  --mdc-theme-accent: #FFEB3B; /* Yellow 500 */
  --mdc-theme-background: #212121; /* Grey 900 */
  --mdc-theme-elevated-background: #424242; /* Gray 800 */
  --mdc-theme-text-on-primary: white;
  --mdc-theme-text-on-secondary: white;
  --mdc-theme-text-on-accent: black;
  --mdc-theme-text-on-background: white;
  --mdc-theme-text: white;
}
