:root {
  --mdc-theme-primary: #F44336; /* Red 500 */
  --mdc-theme-secondary: #D32F2F; /* Red 700 */
  --mdc-theme-accent: #4CAF50; /* Green 500 */
  --mdc-theme-background: #212121; /* Grey 900 */
  --mdc-theme-elevated-background: #424242; /* Grey 800 */
  --mdc-theme-text-on-primary: white;
  --mdc-theme-text-on-secondary: white;
  --mdc-theme-text-on-accent: black;
  --mdc-theme-text-on-background: white;
  --mdc-theme-text: white;
}
