:root {
    --mdc-theme--halfopacity: #{rgba($mdc-theme-primary, 0.5)};
}

#appheader {
    -webkit-app-region: drag;
    height: 24px;
    padding: 0 5px;
    div {
        -webkit-app-region: no-drag;
        display: inline-block;
    }
}

aside a:not(.mdc-temporary-drawer--selected) {
    cursor: pointer;
}

body {
    background-color: $mdc-theme-background;
    color: $mdc-theme-on-background;
    margin: 0;
    overflow: hidden;
}

.box {
    background-color: $mdc-theme-surface;
    color: $mdc-theme-on-surface;
    margin: 10px auto;
    padding: 5px 10px;
    width: 90%;
}

.path-box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin: 0 10px;
    padding: 8px;
}

.external-link {
    color: $mdc-theme-primary;
    cursor: pointer;
    text-decoration: underline;
}

#controlbar {
    bottom: 0;
    display: block;
    height: 40px;
    padding: 0 5px;
    position: absolute;
    width: calc(100% - 10px);
    div {
        vertical-align: middle;
        display: inline-block;
    }
    .native-btn {
        font-size: 36px;
    }
}

.frame {
    background-color: darken($mdc-theme-primary, 5%);
    color: $mdc-theme-on-primary;
    :window-inactive {
        background-color: lighten($mdc-theme-primary, 5%);
    }
}

.native-btn {
    cursor: pointer;
}

main {
    max-height: calc(100vh - 34px);
    overflow-y: auto;
    width: 100vw;
}

.mdc-button:not(.mdc-button--primary):not(.mdc-button--secondary):not(.mdc-button--raised):not(:disabled) {
    color: $mdc-theme-primary;
}

.mdc-button--raised:not(.mdc-button--primary):not(.mdc-button--secondary):not(:disabled) {
    background-color: $mdc-theme-background;
    color: $mdc-theme-on-background;
}

.mdc-button--primary:not(:disabled) {
    background-color: $mdc-theme-primary;
    color: $mdc-theme-on-primary;
}

.mdc-button--secondary:not(:disabled) {
    background-color: $mdc-theme-secondary;
    color: $mdc-theme-on-secondary;
}

.mdc-drawer--modal + .mdc-drawer-scrim {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 24px;
}

.mdc-notched-outline {
    opacity: 1;
    padding-top: 4px;
}

.mdc-select__native-control {
    option {
        background-color: $mdc-theme-surface;
        color: $mdc-theme-on-surface;
    }
}

.mdc-snackbar {
    background: transparent;
    transform: initial;
    margin: 0 auto;
    .mdc-snackbar__surface {
        background-color: $mdc-theme-surface;
        .mdc-snackbar__label {
            color: $mdc-theme-on-surface;
        }
    }
}
.mdc-snackbar__action {
    color: $mdc-theme-primary;
}
.mdc-snackbar__action::before, .mdc-snackbar__action::after {
    background-color: $mdc-theme-primary;
}

.mdc-text-field--textarea {
    .mdc-floating-label {
        background-color: initial;
        margin: 0;
        padding: 0;
    }
    .mdc-notched-outline > .mdc-notched-outline__notch > .mdc-floating-label {
        background-color: initial;
        margin: 0;
        padding: 0;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $mdc-theme-primary;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2.5px rgba(0, 0, 0, 0.3);
}
